.btn:hover {
  box-shadow: 6px 12px 20px blueviolet;
}
.smallimgdiv:hover {
  box-shadow: 6px 12px 20px  rgba(252,70,107,1) ;
}
.btn2:hover {
  box-shadow: 0 0 10px #4287f5, 0 0 40px #4287f5, 0 0 80px #4287f5, 0 0 100px #4287f5;
}
.btn3:hover {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.container .box:hover .ImgBox img {
  transform: scale(1.2);
}
.container .box:hover .details {
  transform: scale(1);
}
.container1 a::before,
.container1 a::after {
  content: '';
  position: absolute;
  inset: 0;
  background: #CE5937;
  background: -moz-radial-gradient(center, #CE5937 0%, #1C6EA4 55%, #C59237 100%);
  background: -webkit-radial-gradient(center, #CE5937 0%, #1C6EA4 55%, #C59237 100%);
  background: radial-gradient(ellipse at center, #CE5937 0%, #1C6EA4 55%, #C59237 100%);
  transition: 0.5s;
}
.container1 a:hover:before {
  inset: -3px;
}
.container1 a:hover::after {
  inset: -3;
  filter: blur(10px);
}
/* section-animation */
i:hover {
  transition: 0s;
  color: #0f0;
  text-shadow:0 0 120px #0f0;
}
@keyframes animate1 {
  0%
  {
    transform: translateX(100%);
  }
  100%
  {
    transform: translateX(-100%);
  }
}
@keyframes animate2 {
  0%
  {
    transform: translateX(0%);
  }
  100%
  {
    transform: translateX(-200%);
  }
}
@keyframes animate3 {
  0%
  {
    transform: translateX(-100%);
  }
  100%
  {
    transform: translateX(100%);
  }
}
@keyframes animate4 {
  0%
  {
    transform: translateX(-200%);
  }
  100%
  {
    transform: translateX(0%);
  }
}