/* start header */
.fa-spin {
  color:#5EB6E1;
  margin-right: 10px;
}
.header-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 25px;
  width: 100%;
}
.nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav-ul li {
  margin-right: 72px;
  width: 100%;
}
.nav {
  margin-right: 200px;
}
.logo {
  margin-left: 144px;
  margin-right: 250px;
  max-width: 147px;
  width: 100%;
}
.tel {
  max-width: 130px;
  width: 100%;
  color:#000000;
  margin-top: 10px;
  font-family: "Futura PT Demi";
}
.li11,
.tel {
  white-space: nowrap;
}
.li1 {
  max-width: 63px;
  width: 100%;
  height: 19px;
  color:#000000;
  font-size: 24px;
  font-family: "Futura PT Demi";
}
.div1 {
  display: flex;
  width: 100%;
}
.toggle-button {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 25px;
  color: red;
  display: none;
}
/* start section */
.section-img {
  background-image: url(../Images/girl-resting.jpg);
  width: 100%;
  height: 916px;
  top: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.P {
  position: absolute;
  height: 31px;
  top: 200px;
  left: 100px;
  height: 31px;
  color: #fff;
  font-size: 23px;
  font-family: "Futura PT Medium"; 
  text-transform: capitalize;
}
.miniP {
  max-width: 700px;
}
.P1 {
  position: absolute;
  height: 73px;
  top: 240px;
  left: 100px;
  height: 73px;
  font-size: 50px;
  line-height: normal;
  color: #fff;
  font-family: "Futura PT Medium"; 
  font-weight: bolder;
  text-transform: capitalize;
}
/* icon-management */
.usediv {
  position: absolute;
  max-width: 35px;
  width: 100%;
  height: 30px;
  top: 430px;
  background-color: #F6F7FB;
  border-bottom: 2px solid blueviolet;
  border-radius: 0px 10px 0px 0px;
}
.globe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.usediv1 {
  position: absolute;
  max-width: 35px;
  width: 100%;
  height: 30px;
  top: 460px;
  background-color: #F6F7FB;
  border-bottom: 2px solid blueviolet;
}
.fb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.usediv2 {
  position: absolute;
  max-width: 35px;
  width: 100%;
  height: 30px;
  top: 490px;
  background-color: #F6F7FB;
  border-bottom: 2px solid blueviolet;
}
.twitter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.usediv3 {
  position: absolute;
  max-width: 35px;
  width: 100%;
  height: 30px;
  top: 520px;
  background-color: #F6F7FB;
  border-radius: 0px 0px 10px 0px;
}
.instagram {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* start-site */
.btn {
  position: absolute;
  max-width: 301px;
  width: 100%;
  height: 93px;
  top: 430px;
  left: 100px;
  background-color: #5EB6E1;
  border-radius: 15px;
  color: #000000;
  font-size: 30px;
  font-family: "Futura PT Medium"; 
  font-weight: 900;
}
.division {
  display: flex;
}
.topsizediv {
  margin-top: 720px;
  max-width: 1100px;
  width: 100%; 
  display: flex;
  margin: 0 auto;
  margin-top: 720px;
  
}
.imgdiv1 {
  background-image: url(../Images/workout1.jpg);
  width: 100%;
  height: 283px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  right: 21px;
  text-align: center;
}
.imgdiv2 {
  background-image: url(../Images/workout2.jpg);
  width: 100%;
  height: 283px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
}
.imgdiv3 {
  background-image: url(../Images/workout3.jpg);
  width: 100%;
  height: 283px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  left: 21px;
  text-align: center;
}
.imgP1 {
  color: #fff;
  font-size: 20px;
  font-family: "Futura PT Medium"; 
  line-height: 10px;
  margin-top: 70px;
  font-weight: 400;
}
.imgP2 {
  color: #fff;
  font-size: 15px;
  font-family: 'Montserrat';
  margin-top: 18px;
}
.smallimgdiv {
  max-width: 137px;
  width: 100%;
  height: 39px;
  background: rgb(161,69,252);
  background: linear-gradient(28deg, rgba(161,69,252,1) 0%, rgba(131,58,180,1) 11%, rgba(253,79,43,1) 43%, rgba(253,29,29,1) 84%, rgba(253,156,45,1) 98%);
  border-radius: 15px 50px;
  color: #fff;
  margin-top: 25px;
}
/* section 2 */
/* left div */
.section2maindiv {
  display: flex;
}
.section2div {
  max-width: 658px;
  width: 100%;
  height: 641;
  margin-top: 200px;
  margin-left: 100px;
}
.P2 {
  font-size: 15px;
  color: #FF6C2C;
  line-break: 10px;
  letter-spacing: 5px;
  font-family: "Futura PT";
}
.H1 {
  margin-top: 10px;
  max-width: 571px;
  width: 100%;
  height: 58px;
  color: #292F39;
  font-size: 40px;
}
.H1::after {
  content:'';
  width: 110px;
  height: 2px;
  background-color: #5EB6E1;
  display: block;
  margin-top: 10px;
}
.P3 {
  font-size: 30px;
  color: #FF6C2C;
  line-height: 45px;
  margin-top: 50px;
}
.P4 {
  margin-top: 30px;
  font-size: 30px;
  color: #888a89;
  line-height: 45px;
}
.btn2 {
  max-width: 243px;
  width: 100%;
  height: 74px;
  background-color: #5EB6E1;
  font-size: 25px;
  color: #000000;
  border-radius: 5px;
  margin-top: 71px;
  font-weight: 600;
}
/* right div */
.image1 {
  background-image: url(../Images/measurement.jpg);
  position: relative;
  max-width: 200px;
  width: 100%;
  /* height: 293px; */
  height: 237px;
  top: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 50px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 6px 12px 20px  #f07502 ;
}
.image2 {
  background-image: url(../Images/running-workout.jpg);
  position: relative;
  max-width: 200px;
  width: 100%;
  height: 231px;
  top: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 50px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 6px 12px 20px  #a800eb ;
}
.image3 {
  background-image: url(../Images/Hiit.jpg);
  position: relative;
  max-width: 200px;
  width: 100%;
  height: 231px;
  top: 380px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -200px;
  margin-top: 150px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 6px 12px 20px  #0284f5 ;
}
/* start page 2 */
.divpage2 {
  background-color: #222224;
  width: 100%;
  height: 540px;
  margin-top: 200px;
}
.H2 {
  padding-top: 130px;
  color: #FFFFFF;
  font-size: 60px;
  text-align: center;
  font-family: "Futura PT Medium";
}
.H2::after {
  content:'';
  max-width: 115px;
  width: 100%;
  height: 2px;
  background-color: #5EB6E1;
  display: block;
  margin-top: 30px;
  margin-left: 620px;
}
.P5 {
  text-align: center;
  color: #FFFFFF;
  font-size: 25px;
  margin-top: 40px;
  margin-left: 150px;
  margin-right: 150px;
  line-height: 40px;
  text-transform: capitalize;
}
.defination {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.defination1 {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.auto0 {
  margin-left: -4px;
  margin-bottom: block;
}
/* page 2//section 4//2nd part */
.divpage3 {
  width: 100%;
  height: 540px;
}
.H3 {
  padding-top: 130px;
  color: #292F39;
  font-size: 60px;
  text-align: center;
  font-family: "Futura PT Medium";
}
.H3::after {
  content:'';
  max-width: 115px;
  width: 100%;
  height: 2px;
  background-color: #5EB6E1;
  display: block;
  margin-top: 25px;
  margin-left: 620px;
}
.P9 {
  text-align: center;
  color: #292F39;
  font-size: 25px;
  margin-top: 40px;
  margin-left: 150px;
  margin-right: 150px;
  line-height: 40px;
  font-family: "Futura PT Medium";
  text-transform: lowercase;
}
/* start 2nd part-box */
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  position: relative;
  
}
.container .box {
  position: relative;
  margin: 20px;
  display: inline-block;
}
.container .box .ImgBox {
  position: relative;
  overflow: hidden;
}
.container .box .ImgBox img {
  max-width: 100%;
  transition: 2s;
}
.container .box .details {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  text-align: center;
  background: rgba(0,0,0,.8);
  text-align: center;
  padding: 15px;
  color: #fff;
  transform: scale(0);
  transition: .5s;
}
.container .box .details .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.H4 {
  font-size: 45px;
}
.h4 {
  white-space: nowrap;
  font-size: 40px;
}
.P10 {
  font-size: 30px;
  margin-top: 20px;
}
.P11 {
  text-align: center;
  margin-top: 50px;
  letter-spacing: 2.5px;
}
.fa-facebook-f{
  position: absolute;
  top: 90%;
  left: 40%;
}
.fa-twitter {
  position: absolute;
  top: 90%;
  left: 50%;
}
.fa-instagram {
  position: absolute;
  top: 90%;
  left: 60%;
}
/* Button page 2 */
.container1 {
  position: relative;
  z-index: 50;
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  height: 150px;
}
.container1 a {
  position: relative;
  max-width: 160px;
  width: 100%;
  height: 60px;
  display: inline-block;
  left: 600px;
  top: 50px;
}
.container1 a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block; 
  background: #0e1538;
  z-index: 28;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  border: 1px solid #040a29;
  color: #FFFFFF;
  background: #232323;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  color: #FFFFFF;
  background: #232323;
}
/* page 3//section 5// */
.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 15px auto;
  padding: 20px 0;
  display: flex;
  
}
h2 {
  margin: 30px 0 0;
  padding: 0;
}

/* JS */
.slick-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.slick-dots li {
  display: inline-block;
  margin: 0 10px;
}
.slick-dots li button {
  font-size: 0;
  height: 10px;
  max-width: 10px;
  width: 100%;
  border-radius: 50%;
  border: none;
  background-color: rgb(63,94,251);
  transition: .3s;
}
.slick-dots .slick-active button {
  background-color: #b619cf;
  height: 15px;
  max-width: 20px;
  width: 100%;
}
.pngdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.H5 {
  text-align: center;
  color: black;
  font-size: 30px;
  color: #292F39;
  font-family: "Futura PT Demi";
}
.P12 {
  color: #000000;
  font-size: 50px;
  text-align: center;
  margin-top: 60px;
  font-family: "Futura PT Demi";
}
/*  information box */
.H6 {
  text-align: center;
  font-size: 60px;
  color: #292F39;
  font-family: "Futura PT Medium"; 
  margin-top: 100px;
}
.H6::after {
  content:'';
  max-width: 115px;
  width: 100%;
  height: 2px;
  background-color: #5EB6E1;
  display: block;
  margin-top: 15px;
  margin-left: 620px;
}
.box1 {
  max-width: 390px;
  width: 100%;
  height: 480px;
  background-color: #13191A;
  margin-left: 28px;
  margin-top: 60px;
}
.img-box {
  padding: 30px;
}
.P13 {
  text-align: center;
  color: #5EB6E1;
  font-size: 20px;
  padding-left: 28px;
  padding-right: 28px;
  font-family: 'Raleway';
}
.P14 {
  text-align: center;
  color: #BBBBBB;
  margin-top: 20px;
  padding-left: 28px;
  padding-right: 28px;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'ArialMT';
}
.P15 {
  color: #BBBBBB;
  font-size: 14px;
  margin-left: 11px;
  text-align: center;
}
.leftsize {
  margin-left: 28px;
}
.svg-div {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: 25px;
}
.btndiv {
  text-align: center;
}
.btn3 {
  max-width: 243px;
  width: 100%;
  height: 74px;
  background-color: #5EB6E1;
  font-size: 25px;
  color: #000000;
  border-radius: 5px;
  margin-top: 71px;
  font-weight: 600;
}
/*form*/
.form-flex {
  width: 100%;
  height: 1099px;
  background-color: #181A1F;
  display: flex;
  flex-wrap: wrap;
  opacity: 1;
}
.H7 {
  color: #FFFFFF;
  font-size: 60px;
  font-family: "Futura PT Medium"; 
  margin-top: 150px;
  margin-left: 124px;
}
.H7::after {
  content:'';
  max-width: 115px;
  width: 100%;
  height: 2px;
  background-color: #5EB6E1;
  display: block;
  margin-top: 30px;
  margin-left: 25px;
}
.input-wrapper, .input-wrapper1:focus{
  outline: none;
  border: 1px solid red;
  box-shadow: 0 0 10px #719ECE;
}
/* .txtarea
:focus{
  border: 1px solid green;
  box-shadow: 0 0 10px #719ECE;
} */
textarea:focus { 
  outline: none;
  border-color: rgb(14, 177, 14);
  box-shadow: 0 0 10px rgb(14, 177, 14);
}

.input-wrapper {
  background-color: #181A1F;
  max-width: 561px;
  width: 100%;
  height: 63px;
  margin-top: 80px;
  margin-left: 124px;
  resize: none;
  /* border-radius: 1px #5EB6E1; */
}
.txtarea {
  max-width: 561px;
  width: 100%;
  height: 150px;
  background-color: #F8F8F8;
  background-color: #181A1F;
  margin-top: 35px;
  margin-left: 124px;

}
.input-wrapper1{
  background-color: #181A1F;
  max-width: 561px;
  width: 100%;
  height: 63px;
  margin-top: 35px;
  margin-left: 124px;
  outline: none;
}
.input-wrapper::placeholder {
  margin-top: 24px;
  margin-left: 20px;    
  color: #CECECE;
  opacity: 1;
  width: 100%;
  height: 13px;
  padding-left: 20px;
}
.input-wrapper1 ::placeholder {
  margin-top: 24px;
  margin-left: 20px;    
  color: #CECECE;
  opacity: 1;
  width: 100%;
  height: 13px;
  padding-left: 20px;
  /* არ მუშაობს ტექსტის margin ები*/
}
.txtarea::placeholder {
  margin-top: 24px;
  margin-left: 20px;
  color: #CECECE;
  opacity: 1;
  margin-top: 24px;
  height: 13px;
  color: #BBBBBB;
  filter: sepia(100%) saturate(400%) grayscale(0) contrast(200%) hue-rotate(68deg) invert(18%);
  /* არ მუშაობს  ტექსტის margin ები*/
}
input[placeholder], [placeholder], *[placeholder] {
  color: #fff;
}
.formimg {
  margin-left: 748px;
  margin-top: -750px;
}
/* button 4 */
.btn4 {
  max-width: 561px;
  width: 100%;
  height: 74px;
  background-color: #5EB6E1;
  font-size: 20px;
  color: #000000;
  border-radius: 5px;
  margin-top: 35px;
  margin-left: -530px;
  font-weight: 600;
  font-family: "Futura PT Demi";
}
.inputs {
  filter: sepia(100%) saturate(400%) grayscale(0) contrast(200%) hue-rotate(68deg) invert(18%);
  margin-top: 35px;
}
input {
  filter: sepia(100%) saturate(400%) grayscale(0) contrast(200%) hue-rotate(68deg) invert(18%);
}
.inputbox {
  margin-left: 124px;
}
.Gmail {
  margin-top: 50px;
  margin-left: 124px;
}
.gmail {
  color: #FFFFFF;
  font-family: "Futura PT Medium"; 
  font-size: 20px;
}
.gmailafter::after {
  content: '';
  height: 19px;
  width: 2px;
  background-color:#fff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  margin-left: 15px;
}
.number {
  color: #FFFFFF;
  font-family: "Futura PT Medium";
  font-size: 20px;
  margin-left: -5px;
}
.ul {
  display: flex;
  margin-left: 124px;
}
.fa-facebook, .fa-linkedin-in, .fa-twitter-square {
  background-color: #181A1F;
  color: #5EB6E1;
  margin-top: none;
  font-size: 28px;
}
.fa-linkedin-in, .fa-twitter-square {
  margin-left: 35px;
}
/* footer */
.footer {
  width: 100%;
  height: 578px;
  background-color: #19191C;
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  opacity: 1;
}
.animation {
  width: 100%;
  margin-top: 300px;
  margin-left: 110px;
}
.footerdiv {
  display: flex;
  flex-wrap: wrap;
}
.H8 {
  margin-top: -400px;
  margin-left: 500px;
  color: #FFFFFF;
  font-size: 30px;
  font-family: "Futura PT Medium"; 
}
.P16 {
  color: #BCBCBC;
  font-size: 25px;
  margin-top: -350px;
  margin-left: 500px;
}
.P17 {
  color: #BCBCBC;
  font-size: 25px;
  margin-top: -330px;
  margin-left: 500px;
}
.tel-phone {
  margin-top: -300px;
  margin-left: 500px;
}
.tel1 {
  max-width: 130px;
  width: 100%;
  color:#BBBBBB;
  font-family: "Futura PT Demi";
  white-space: nowrap;
  font-size: 19px;
}
.phone2 {
  color:#5EB6E1;
  margin-right: 10px;
}
.fa-envelope {
  background-color: #181A1F;
  color: #5EB6E1;
  margin-top: -250px;
  margin-left: -210px;
  font-size: 28px;
}
.P18 {
  color: #BBBBBB;
  font-size: 19px;
  margin-top: -250px;
  margin-left: 20px;
}
.iconsflex {
  display: flex;
  margin-top: -200px;
  margin-left: 500px;
}
.iconsfooter {
  font-size: 28px;
  color:  #5EB6E1;
  /* background-color: #fff; */
}
.fa-twitter-square {
  margin-top: -0.5px;
  margin-left: 25px;
  margin-right: 25px;
}
.H9 {
  margin-top: -445px;
  margin-left: 900px;
  color: #FFFFFF;
  font-size: 30px;
  font-family: "Futura PT Medium"; 
}
.P19 {
  max-width: 100px;
  color: #BBBBBB;
  font-family: "Futura PT Demi";
  outline-style: double;
  outline-color:#979797;;
  text-align: center;
  margin-left: 900px;
  margin-top: 12px;
  display: flex;
}
.footerdivright {
  margin-top: -410px;
}
.P20 {
  margin-left: 1050px;

}
.header-div2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 25px;
  width: 100%;
  background-color: #5EB6E1;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}
.P21 {
  padding: 10px;
  font-size: 17px;
  color: #F6F7FB;
  margin: 0 auto;
  text-align: center;
}
/* Slider */
.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
    
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slider {
  display: flex;
}
.slider .slider_item {
  width: 350px;
  height: 250px;
  margin:30px;
}
.slider .slider_item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.backgroundcolor {
  background-color: #5EB6E1;
  padding: 30px;
}
/* section-animation */
* {
  margin: 0;
  padding: 0;
}
.sectionanimation {
position: relative; 
width: 100%; 
height: 100vh; 
background: #111; 
display: flex; 
flex-direction: column; 
Overflow: hidden;
top: 100px;
}
.sectionanimation .row {
  position: relative;
  top: -50%;
  width: 100%;
  display: flex;
  padding: 10px 0;
  white-space: nowrap;
  font-size: 64px;
  transform: rotate(-30deg);
}
.I
{
  color: rgba(0, 0, 0, 0.5);
  transition: 1s;
  padding: 0 5px;
  user-select: none;
  cursor: default;
}
.sectionanimation .row .divanimation {
  animation: animate1 80s linear infinite;
  animation-delay: -80s;
}
.sectionanimation .row .divanimation2 {
  animation: animate2 80s linear infinite;
  animation-delay: -40s;
}
.sectionanimation .row:nth-child(even) .divanimation {
  animation: animate3 80s linear infinite;
  animation-delay: -80s;
}
.sectionanimation .row:nth-child(even) .divanimation2 {
  animation: animate4 80s linear infinite;
  animation-delay: -40s;
}
.H10 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 80px;
  color: goldenrod;
  z-index: 50;
  font-family: "Futura PT";
}
.P22 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  color: gold;
  z-index: 50;
  text-align: center;
  font-family: "Futura PT Medium";
}
.btn5 {
  position: absolute;
  max-width: 301px;
  width: 100%;
  height: 93px;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: red;
  border-radius: 15px;
  color: #fff;
  font-size: 30px;
  font-family: "Futura PT Medium"; 
  font-weight: 900;
  z-index: 100;
}